; Genesys Logic, Inc. USB2.1 Hub, UGREEN Switch
usb_device = "05e3:0610"

{{- if eq .hostType "personal_mac" }}
on_usb_connect = "0xf"
{{ end -}}

{{- if eq .hostType "work_mac" }}
on_usb_connect = "DisplayPort2"
{{ end -}}
