#!/usr/bin/env bash

volta install node
volta install yarn
volta install pnpm

volta install @types/node
volta install typescript
volta install ts-node

# Fabulously kill processes.
# https://github.com/sindresorhus/fkill-cli
volta install fkill-cli
